.menu-show {
    position: fixed;
    top: 0;
    right: 0;
    
    border-radius: 10% 10% 0% 100% / 16% 0% 46% 100%;
    z-index: 100;
    background: #ce009f;
    transition: ease-in 0.6s;
    cursor: none;

    .menu {
        display: flex;
        font-size: 30px;
        position: absolute;

        right: 5%;
        top: 5%;
        cursor: pointer;
        span {
            color: #fff;
        }
        i {
            color: #fff;
        }
    }
}
.menu-container {
    .active {
        width: 100% !important;
        height: 100% !important;
        border-radius: unset;
        position: fixed;
        z-index: 100;
    }
}

.active-timeX {
    position: fixed;
    right: 5%;
    top: 5%;
    transition: ease-in 0.6s;
}
.menu-container-contents {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    max-height: 100%;
    padding: 50px 20px 100px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    ul {
        list-style-type: none;
        width: 300px;
        margin: 0 auto;
        padding: 0;
        li{
            padding: 25px;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                font-weight: 500;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
        }
    }
}
.mouse-move {
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: #fff;
    pointer-events: none;
    border-radius: 50%;
    // transition: 1s;
    
    
}