.cart-container {
    padding: 0 100px;
}
.cart-img {
    img {
        height: 100px;
        width: 100px;
        object-fit: fill;
        // box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    }
}
.cart-tabel {
    td {
        text-align: center;
        .changeQty {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}
.tabel-cart {
    display: flex;
    justify-content: space-between;
}
.cardPayment {
    max-height: 400px;
}