// #banner-wrapper {
//     .banner-container {
//         margin-bottom: 80px;
//         .p-top {
//             display: flex;
//             height: 100px;
//             align-items: center;
//             p {
//                 margin: 0;
//             }
//         }
//         .video-pText {
//             display: flex;
//             justify-content: space-evenly;

//             .p-left {
//                 display: flex;
//                 position: relative;

//                 align-items: center;
//                 padding: 20px;
//                 font-size: 20px;
//                 // justify-content: space-around;

//                 .border-left {
//                     position: absolute;
//                     height: 300px;
//                     width: 2px;
//                     background: #000;
//                     animation: borderColor ease-in 2s infinite;
//                 }
//                 .p-text-left {
//                     display: block;

//                     font-size: 20px;
//                     transform: rotate(90deg);
//                     color: #bb9494;
//                 }
//             }
//             .p-right {
//                 display: flex;
//                 position: relative;
//                 flex-direction: column-reverse;
//                 align-items: flex-end;
//                 padding: 20px;
//                 font-size: 20px;
//                 justify-content: space-around;

//                 .p-text-right {
//                     display: block;

//                     font-size: 20px;
//                     transform: rotate(90deg);
//                     label {
//                         color: #bb9494;
//                     }
//                 }

//                 .scroll-clip {
//                     position: absolute;
//                     height: 300px;
//                     width: 2px;
//                     background: #000;
//                     animation: scrollClip 3s ease-in infinite;
//                 }
//             }
//         }
//         video {
//             width: 75%;
//         }
//     }
//     .new-list-container {
//         // .news-list-link{
//         //     margin-bottom: 50px;
//         // }
//         .p-index-container {
//             margin-top: 50px;

//             .p-index-about {
//                 position: relative;
//                 .animation-img {
//                     animation: animation 1s;
//                 }
//                 .p-index-about-description {
//                     width: 600px;
//                     position: absolute;
//                     bottom: -245px;
//                     right: 0;
//                     background: #fff;
//                     h3 {
//                         color: #8b8b8b;
//                         padding: 30px;
//                     }
//                     h2 {
//                         color: #1a1a1a;
//                         padding: 30px;
//                     }
//                     div {
//                         p {
//                             color: #1a1a1a;
//                         }
//                     }
//                 }
//             }
//             .p-index-concept {
//                 position: relative;
//                 margin-bottom: 50px;

//                 .concept-img {
//                     transform: translateX(80px);
//                     box-shadow: 50px 0 100px 20px;
//                     width: 400px;
//                     height: 600px;
//                     border-radius: 15px;
//                 }
//                 .concept-text-div {
//                     .concept-text {
//                         position: absolute;
//                         bottom: 70px;
//                         left: 40%;
//                         font-weight: 600;
//                         font-size: 70px;
//                         color: #d4c280f7;
//                         z-index: 5;
//                     }
//                 }
//             }
//             .concept-text-story {
//                 position: relative;
//                 padding-top: 50px;
//                 height: 1300px;
//                 margin-bottom: 125px;
//                 .concept-story-desc {
//                     position: absolute;
//                     left: 30%;
//                     z-index: 5;
//                 }

//                 .concept-story-gif {
//                     .gif-right {
//                         img {
//                             position: absolute;
//                             width: 450px;
//                             height: 500px;
//                             right: 0;
//                             top: -150px;
//                         }
//                     }
//                     .gif-left {
//                         img {
//                             position: absolute;
//                             width: 400px;
//                             height: 300px;
//                             left: 0;
//                             top: 25%;
//                         }
//                     }
//                     .video-center {
//                         video {
//                             position: absolute;
//                             width: 700px;
//                             left: 20%;
//                             top: 42%;
//                             cursor: pointer;
//                             z-index: 5;
//                         }
//                     }
//                     .gif-left-bottom {
//                         img {
//                             position: absolute;
//                             bottom: 0;
//                             right: 0;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @keyframes borderColor {
//     0% {
//         background: #bb9494;
//     }
//     50% {
//         background: #000;
//     }
//     100% {
//         background: #bb9494;
//     }
// }
// @keyframes scrollClip {
//     0% {
//         height: 0;
//     }

//     50% {
//         height: 300px;
//     }
//     100% {
//         height: 0;
//     }
// }
// @keyframes textRigth {
//     0% {
//         height: 0;
//     }

//     50% {
//         height: 20px;
//     }
//     100% {
//         height: 0;
//     }
// }
// @keyframes animation {
//     from {
//         transform: translateX(3000px);
//     }
//     to {
//         transform: translateX(0px);
//     }
// }

// .p-index-product {
//     position: relative;
//     .product-introduce {
//         label {
//             font-size: 12px;
//             opacity: 0.5;
//         }
//     }
//     .banner-product {
//         img {
//             width: 100%;
//         }
//     }
//     .product-feature {
//         position: relative;
//         img {
//             width: 100%;
//             box-shadow: 30px 22px 140px 46px;
//             color: #9b54e8;
//             border-radius: 30px;
//         }
//     }
//     .p-index-product-desc {
//         position: absolute;
//         padding: 80px;
//         background: #dedcda;
//         top: 30%;
//         right: 0;
//         // height: 2000px;
//         border-radius: 14% 11% 10% 10% / 53% 51% 10% 10%;
//         bottom: 0;
//     }
// }
// .p-index-product-desc-feature {
//     padding: 30px 0 150px 0;
// }
// .p-index-product-sub-image {
//     position: relative;
//     display: flex;
//     flex-direction: row-reverse;

//     img {
//         height: 400px;

//         right: 0;

//         border-radius: 30px;
//     }
// }
// .p-index-product-sub-image-2 {
//     position: relative;
//     display: flex;
//     padding-bottom: 100px;
//     img {
//         // position: absolute;
//         bottom: 10%;
//         width: 650px;
//         // left: 0;
//         border-radius: 14% 18% 33% 28% / 10% 10% 10% 9%;
//         box-shadow: 5px 0 100px 25px;
//         color: #e8db37;
//     }
// }

// .circle-multiple {
//     position: absolute;
//     right: 15%;
//     top: 0;
//     z-index: 5;
//     .circle {
//         height: 115px;
//         width: 115px;
//         border-radius: 66% 34% 81% 19% / 30% 77% 23% 70%;
//         border: 2px solid;
//         border: #fff;
//         line-height: 115px;
//         background: #f8f9fa;
//         img {
//             border-radius: 66% 34% 81% 19% / 30% 77% 23% 70%;
//             width: 150px;
//         }
//     }
// }
// .circle-multiple2 {
//     position: absolute;
//     left: 5%;
//     top: 18%;
//     .circle {
//         height: 115px;
//         width: 115px;
//         border-radius: 72% 28% 57% 43% / 38% 54% 46% 62%;
//         border: 2px solid;
//         border: #fff;
//         line-height: 115px;
//         background: #f8f9fa;
//         img {
//             border-radius: 72% 28% 57% 43% / 38% 54% 46% 62%;
//             width: 150px;
//         }
//     }
// }
// .circle-multiple3 {
//     position: absolute;
//     left: 20%;
//     bottom: 20%;
//     .circle {
//         height: 115px;
//         width: 115px;
//         border-radius: 59% 41% 37% 63% / 55% 82% 18% 45%;
//         border: 2px solid;
//         border: #fff;
//         line-height: 115px;
//         background: #f8f9fa;
//         img {
//             border-radius: 59% 41% 37% 63% / 55% 82% 18% 45%;
//             width: 150px;
//         }
//     }
// }
// .circle-multiple4 {
//     position: absolute;
//     right: 23%;
//     bottom: 40%;
//     .circle {
//         height: 115px;
//         width: 115px;
//         border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
//         border: 2px solid;
//         border: #fff;
//         line-height: 115px;
//         background: #f8f9fa;
//         img {
//             border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
//             width: 150px;
//         }
//     }
// }
// .circle {
//     span {
//         font-size: 20px;
//     }
// }
// .p-index-shop-container {
//     padding: 50px;
//     position: relative;
//     .p-index-shop-left {
//         background-color: #ce009f;
//         padding: 150px;
//         cursor: none;
//         a {
//             text-decoration: none;
//             color: #fff;
//             h3 {
//                 font-size: 50px;
//             }
//             p {
//                 transition: ease 0.5s;
//                 font-size: 20px;
//                 &:hover {
//                     transform: translateX(30px);
//                     transition: ease 0.5s;
//                 }
//             }
//         }
//     }
//     .p-index-contact-right {
//         background-color: #fff;
//         padding: 150px;
//         a {
//             text-decoration: none;
//             color: #ce009f;
//             h3 {
//                 font-size: 50px;
//             }
//             p {
//                 transition: ease 0.5s;
//                 font-size: 20px;
//                 &:hover {
//                     transform: translateX(30px);
//                     transition: ease 0.5s;
//                 }
//             }
//         }
//     }
// }

// #mouseMoveShop {
//     position: fixed;
//     top: 0;
//     left: 0;
    
//     pointer-events: none;
//     border-radius: 50%;
//     transform: translate(-45%, -45%);
// }
// #mouseMoveContact {
//     position: fixed;
//     top: 0;
//     left: 0;
//     border: #ce009f solid 2px;
//     pointer-events: none;
//     border-radius: 50%;
//     transform: translate(-45%, -45%);
// }
