.productDetail {
    // height: 800px;
    .left {
        margin: 0 auto;
        img {
            display: flex;
            margin: 0 auto;
            max-height: 800px;
            width: 95%;
            object-fit: fill;
        }
    }
    .right {
        .quantityHandle {
            position: relative;
            display: inline-flex;
            .bi-plus-lg {
                // position: absolute;
                left: 0;
                z-index: 1;
            }
            .bi-dash-lg {
                // position: absolute;
                right: 0;
            }
            input {
                width: 50px;
            }
        }
    }
}
.count-review {
    transform: translateY(5px);
}

.anticon-shopping-cart {
    transform: translateY(-6px);
}
.desciption-productDetail {
    color: #58595b;
}
.price-productDetail {
    h4 {
        color: #848484;
    }
}
.title-productDetail {
    h1 {
        font-weight: 650;
    }
}
.star-productDetail {
    display: flex;
    span {
        font-size: 20px;
    }
}
.productDetail {
    padding-bottom: 50px;
}

.cmt-container {
    padding: 20px;
    .will-cmt {
        display: flex;
        padding-right: 20px;
        padding-bottom: 50px;
        img {
            width: 70px;
            height: 70px;
        }
        textarea {
            width: 500px;
            min-height: 100px;
            max-height: 100px;
            padding: 10px;
        }
    }
    .other-cmt {
        .other-a-user-cmt {
            display: flex;
        }
        .other-user-cmt {
            padding-right: 20px;
            img {
                width: 70px;
                height: 70px;
            }
        }
        .content-other-cmt {
            background: #fff;
            width: 500px;
            max-height: 70px ;
            padding: 10px;

        }
    }
}

@media screen and (min-width: 1024px) {
    .right {
        .title-productDetail {
            h1 {
                font-size: 30px;
            }
        }
        .star-productDetail {
            span {
                font-size: 22px;
            }
        }
        .price-productDetail {
            h4 {
                font-size: 22px;
            }
        }
        .desciption-productDetail {
            p {
                font-size: 20px;
            }
        }

        .policy {
            div {
                font-size: 16px;
                color: #58595b;
                padding: 5px 0;
                span {
                    font-size: 20px;
                    transform: translateY(-6px);
                    margin: 0 5px;
                }
            }
            .isStock {
                font-size: 20px;
                color: #58595b;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .right {
        .title-productDetail {
            h1 {
                font-size: 25px;
            }
        }
        .star-productDetail {
            span {
                font-size: 17px;
            }
        }
        .price-productDetail {
            h4 {
                font-size: 17px;
            }
        }
        .desciption-productDetail {
            p {
                font-size: 15x;
            }
        }
        // button {
        // }
        .policy {
            div {
                font-size: 16px;
                color: #58595b;
                padding: 5px 0;
                span {
                    font-size: 20px;
                    transform: translateY(-6px);
                    margin: 0 5px;
                }
            }
            .isStock {
                font-size: 20px;
                color: #58595b;
            }
        }
    }
}

@media screen and (max-width: 752px) {
    .right {
        .title-productDetail {
            h1 {
                font-size: 20px;
            }
        }
        .star-productDetail {
            span {
                font-size: 17px;
            }
        }
        .price-productDetail {
            h4 {
                font-size: 17px;
            }
        }
        .desciption-productDetail {
            p {
                font-size: 15x;
            }
        }
        button {
            font-size: inherit;
        }
        .buttonDetail {
            padding: 5px 0px !important;
        }

        .policy {
            div {
                font-size: 12.4px;
                color: #58595b;
                padding: 5px 0;
                span {
                    font-size: 15px;
                    transform: translateY(-6px);
                    margin: 0 5px;
                }
            }
            .isStock {
                label {
                    font-size: 17px;
                }
            }
        }
    }
}

@media screen and (max-width: 565px) {
    .left {
        margin: 0;
        width: 100% !important;
        padding-bottom: 30px;
    }
    .productDetail {
        display: block !important;
    }
    .right {
        width: 100% !important;
        padding: 0 15px;
    }
    .button {
        font-size: large;
    }
}
