.products-image {
    width: 100%;
    
}
.products-title {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.pagination {
    justify-content: center;
    .page-item{
        .active{
            background: #0d6efd;
            color: white;
        }
    }
}
.product-container-thumb {
    a {
        color: #000;
    }
    &:hover {
        transform: translateY(-10px);
        transition: ease 0.3s;
    }
}

