header {
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 40px;
    .container-fluid {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    input {
        width: 100%;
        padding: 10px 10px;
        outline: darksalmon;
        border: none;
        border-bottom: 1px solid;
    }
    .header-nav-right {
        font-size: 20px;
    }
    .cart-icon {
        display: flex;
        i {
            font-size: 36px;
        }
        .cart-count {
            font-size: 18px;
            background: #0e8ce4;
            border-radius: 50%;
            padding: 0 7px;
            color: #fff;
            position: absolute;
            right: 0;
        }
    }
    .cart-user {
        i {
            font-size: 36px;
        }
    }
}
.linkUser,
.linkCart {
    color: black;
}
.cart-left {
    padding: 0 15px;
    .textCart {
        font-size: 14px;
        padding: 0 5px;
    }
}
.userLink {
    a {
        display: block;
        font-size: 14px;
        color: black;
        &:hover {
            color: #0d6efd;
        }
    }
}
.navLinkHeader {
    ul {
        display: flex;
        margin: 0;
        li {
            margin: 0 10px;
            list-style: none;
            a {
                padding: 5px 10px;
                border: 1px solid #000;
                border-radius: 10px;
                font-size: 20px;
                color: black;
            }
        }
    }
}
.search-header {
    position: relative;
    div {
        position: absolute;
        right: 0;
        top: 0;
        i {
            font-size: 25px;
        }
    }
}
.ant-space-item {
    button {
        height: 100%;
        padding: 0 5px;
        border: none;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 810px) {
    
    .tabMenu-header {

        cursor: pointer;
        transform: translateY(10px);
      
        svg {
            font-size: 30px;
        }
       
    }
    .navLinkHeader {
        ul {
            display: none;
        }
    }
    .img-logo-header {
        display: none;
    }
}



@media only screen and (min-width: 811px) {
    
    .tabMenu-header {
        display: none;
        
       
    }
   
}
@media only screen and (max-width: 445px) {
    
    .search-header{
        display: none;
    }
   
}
@media only screen and (min-width: 446px) {
    
    .input-search-modal{
        display: none;
    }
   
}
