.loginDiv {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;

    input {
        border-radius: 10px;
    }
}
.loginForm {
    margin-bottom: 30px;
}
.div2login {
    text-align: center;
    
}